@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "Merriweather";
    /* src: url("../fonts/Merriweather-Bold.ttf?jolgxp") format("truetype"); */
    src: url("/Asset/fonts/Merriweather-Bold.ttf") format("truetype");
    font-weight: Bold;
    font-style: Bold;
    font-display: block;
  }

body{
    font-family: 'Noto Sans TC', sans-serif;
}
.MW-font{
    font-family: 'Merriweather' !important;
}