<!doctype html>
<html>

<head>

    <title>文章示範標題</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 共用檔案 -->
    <link href="/Asset/css/style.css?v=202112061100" rel="stylesheet">
    <script src="/Asset/js/index.js?v=202112061100"></script>
    <!-- 該檔案的css -->
    <link rel="stylesheet" href="css/case.css">
    <!-- vue@2 -->
    <script src="/Asset/plugin/vue.js"></script>
    <!-- animate -->
    <link rel="stylesheet" href="/Asset/plugin/animate.min.css" />
    <!-- Agile -->
    <script src="/Asset/plugin/VueAgile/VueAgile.min.js"></script>
    <link rel="stylesheet" href="/Asset/plugin/VueAgile/VueAgile.css">
    <link rel="stylesheet" href="/Asset/css/agile.css?v=202112061100">
    <!-- https://fonts.google.com/noto/specimen/Noto+Sans+TC -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- smooth-scroll -->
    <script src="/Asset/plugin/vue-smooth-scroll.min.js"></script>

    <script src="https://unpkg.com/spacingjs" defer></script>



</head>

<body>
    <!-- <div class="xl:" style="position: fixed;top: 0;left: 0;width: 100vw;height: 5354px;background-image: url(https://upload.cc/i1/2021/11/30/JIrngt.jpg);z-index: 100;opacity: 1;background-size: contain;"></div> -->
    <!-- <div style="background-size: contain;position: fixed;top: 0;left: 0;width: 440px;height: 5354px;background-image: url(/zdesign/home/Fablua-Layout-1-Mobile.jpg);z-index: 100;opacity: 0.7;"></div> -->
    <div id="app" class="">
        <!-- 頁首 -->
        <header
            class="top-0 bg-white z-10 shadow sticky flex justify-between items-center h-16 md:h-32 px-10 md:px-14 lg:px-56">
            <!-- <div class="MW-font font-bold text-main text-3xl ">
                <a href="/Home">Fabula</a>
            </div> -->
            <div>
                <a href="/Home">
                    <img class="w-24 h-12 object-center object-contain md:w-28 md:h-14" src="/Asset/icon/Logo-g.png"
                        alt="">
                </a>
            </div>
            <!-- menu 按鈕 -->
            <div>
                <div v-on:click="menu_open=!menu_open" :class="menu_open?'items-start':'items-end'"
                    class="md:hidden w-7 h-5 flex flex-col justify-between overflow-hidden">
                    <div :class="{'animate__slideInLeft':menu_open, 'animate__slideInRight':!menu_open}"
                        class="animate__animated animate__faster bg-third w-full h-1 rounded-full transform transition-transform	">
                    </div>
                    <div :class="{'w-3/4 ':!menu_open}"
                        class="bg-third w-1/2 h-1 rounded-full transform  transition-all duration-700">
                    </div>
                    <div :class="{'w-3/4':menu_open}"
                        class="bg-third w-1/2 h-1 rounded-full transform transition-all duration-300">
                    </div>
                </div>
                <div v-on:click="menu_open=!menu_open" :class="{'w-full':menu_open}"
                    class="fixed h-screen right-0 md:h-auto md:static md:w-full md:w-auto top-16 transition-all ease-in-out duration-500 w-0">

                    <ul
                        class="overflow-hidden md:bg-transparent bg-gray-50 flex flex-col lg:gap-14 md:gap-5 h-screen md:flex-row md:h-auto md:shadow-none md:w-auto ml-auto shadow-2xl text-center w-1/2">
                        <li v-on:click="move2Element()"
                            :class="{'text-white bg-sec md:text-sec md:bg-transparent ':menu_current=='關於我們'}"
                            class="cursor-pointer md:shadow-none shadow-inner h-16 flex items-center justify-center border-b md:border-0">
                            <a href="/Home/#關於我們">關於我們</a>
                        </li>
                        <li v-on:click="move2Element()"
                            :class="{'text-white bg-sec md:text-sec md:bg-transparent':menu_current=='精選故事'}"
                            class="cursor-pointer h-16 flex items-center justify-center border-b md:border-0 ">
                            <a href="/Home/#精選故事">精選故事</a>
                        </li>
                        <li v-on:click="move2Element()"
                            :class="{'text-white bg-sec md:text-sec md:bg-transparent':menu_current=='商企招募'}"
                            class="cursor-pointer h-16 flex items-center justify-center border-b md:border-0">
                            <a href="/Home/#商企招募">商企招募</a>
                        </li>
                    </ul>
                </div>
            </div>


        </header>

        <!-- 字在右邊的滿版大圖 -->
        <section>
            <div class="w-full relative">
                <img class="hero-img" src="img/photo-02.jpeg" alt="">
                <div
                    class="w-80 md:w-5/12  absolute bottom-16 right-0 bg-black bg-opacity-50 px-10 py-7 lg:px-0 lg:pl-16 lg:pr-28 md:py-11">
                    <span class="text-xl md:text-2xl font-medium text-white">
                        內文重點示範文字 ， 字數限制如敘述內可容納之...
                    </span>
                </div>
            </div>
        </section>
        <!-- 內文-->
        <div class="md:flex gap-9  px-10 md:px-14 lg:px-56">
            <div class="w-full md:w-2/3 ">
                <!-- 文章示範標題 -->
                <section class="relative py-8 md:py-20 md:border-b border-gray-500">
                    <h1 class="mt-3 text-2xl text-main font-bold md:mt-0">文章示範標題</h1>
                    <div class="mt-1.5 text-gray-400 md:mt-6">2021 / 11 / 28 Sun.</div>
                    <div>
                        <p class="my-8 md:mt-10 md:mb-6">A paragraph is a series of sentences that are organized and
                            coherent, and are all related to a single topic. Almost every piece of writing you do that
                            is longer than a few sentences should be organized into paragraphs.</p>
                        <img class="w-full h-44 md:h-80 object-center object-cover" src="img/1.jpeg" alt="">
                        <p class="my-7 md:mt-9 md:mb-0">A paragraph is a series of sentences that are organized and
                            coherent, and are all related to a single topic. Almost every piece of writing you do that
                            is longer than a few sentences should be organized into paragraphs.</p>
                    </div>
                    <div class="flex gap-4 py-1.5 md:absolute -right-2 top-14">
                        <a href="#twitter">
                            <svg class="w-9 h-9 md:w-8 md:h-8 p-1.5 shadow hover:bg-third"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.264 41.663">
                                <path id="路径_12" data-name="路径 12"
                                    d="M2278.752,2144.177c.022.451.031.9.031,1.36,0,13.9-10.58,29.925-29.925,29.925a29.777,29.777,0,0,1-16.122-4.724,21.652,21.652,0,0,0,2.508.145,21.106,21.106,0,0,0,13.063-4.5,10.53,10.53,0,0,1-9.825-7.306,10.513,10.513,0,0,0,4.75-.179,10.525,10.525,0,0,1-8.439-10.312c0-.045,0-.09,0-.135a10.412,10.412,0,0,0,4.764,1.316,10.524,10.524,0,0,1-3.257-14.04,29.865,29.865,0,0,0,21.679,10.989,10.524,10.524,0,0,1,17.924-9.592,21.053,21.053,0,0,0,6.677-2.553,10.555,10.555,0,0,1-4.624,5.818,21,21,0,0,0,6.04-1.656A21.362,21.362,0,0,1,2278.752,2144.177Z"
                                    transform="translate(-2232.736 -2133.799)" fill="#e6e6e6" />
                            </svg>



                        </a>
                        <a href="#facebook">
                            <svg class="w-9 h-9 md:w-8 md:h-8 p-1.5 shadow hover:bg-third"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.879 51.761">
                                <path id="路径_13" data-name="路径 13"
                                    d="M2377.088,2136.582l-4.872,0c-3.82,0-4.56,1.816-4.56,4.48v5.874h9.112l-1.187,9.2h-7.925v23.609h-9.5v-23.609h-7.945v-9.2h7.945v-6.785c0-7.875,4.81-12.164,11.835-12.164a65.076,65.076,0,0,1,7.1.363Z"
                                    transform="translate(-2350.209 -2127.99)" fill="#e6e6e6" />
                            </svg>

                        </a>
                        <a href="#pinterest">
                            <svg class="w-9 h-9 md:w-8 md:h-8 p-1.5 shadow hover:bg-third"
                                xmlns="http://www.w3.org/2000/svg" width="42.72" height="52.638"
                                viewBox="0 0 42.72 52.638">
                                <path id="路径_14" data-name="路径 14"
                                    d="M2473.269,2168.109c-3.388,0-6.575-1.761-7.665-3.84,0,0-1.678,6.387-2.084,7.951a33.8,33.8,0,0,1-3.45,7.589,1.671,1.671,0,0,1-3.1-.693,29.524,29.524,0,0,1,.224-8.531c.607-2.611,3.921-16.626,3.921-16.626a12.062,12.062,0,0,1-1-4.966c0-4.649,2.7-8.122,6.052-8.122,2.853,0,4.232,2.143,4.232,4.713,0,2.868-1.828,7.158-2.769,11.136a4.854,4.854,0,0,0,4.952,6.042c5.945,0,10.514-6.268,10.514-15.315,0-8.008-5.753-13.608-13.972-13.608-9.515,0-15.1,7.138-15.1,14.517a13.019,13.019,0,0,0,2.488,7.632.993.993,0,0,1,.231.958c-.252,1.056-.817,3.329-.928,3.794-.146.611-.484.74-1.117.447-4.177-1.946-6.792-8.052-6.792-12.958,0-10.549,7.667-20.239,22.1-20.239,11.6,0,20.619,8.268,20.619,19.316C2490.625,2158.835,2483.357,2168.109,2473.269,2168.109Z"
                                    transform="translate(-2447.905 -2127.99)" fill="#e6e6e6" fill-rule="evenodd" />
                            </svg>


                        </a>
                        <a href="#linkedin">
                            <svg class="w-9 h-9 md:w-8 md:h-8 p-1.5 shadow hover:bg-third"
                                xmlns="http://www.w3.org/2000/svg" width="43.504" height="43.431"
                                viewBox="0 0 43.504 43.431">
                                <rect id="矩形_33" data-name="矩形 33" width="9.025" height="29.008"
                                    transform="translate(0.716 14.423)" fill="#e6e6e6" />
                                <path id="路径_16" data-name="路径 16"
                                    d="M2557.8,2140.214a5.228,5.228,0,1,1,5.225-5.23A5.226,5.226,0,0,1,2557.8,2140.214Z"
                                    transform="translate(-2552.567 -2129.758)" fill="#e6e6e6" />
                                <path id="路径_17" data-name="路径 17"
                                    d="M2596.071,2173.189h-9.006v-14.1c0-3.365-.065-7.694-4.687-7.694-4.691,0-5.407,3.665-5.407,7.449v14.35h-9v-29.008h8.643v3.963h.122a9.474,9.474,0,0,1,8.532-4.686c9.122,0,10.808,6.006,10.808,13.82Z"
                                    transform="translate(-2552.567 -2129.758)" fill="#e6e6e6" />
                            </svg>

                        </a>
                    </div>
                </section>
                <!-- 手機 300X250 廣告 -->
                <section class="md:hidden py-8 bg-gray-50 -ml-10 w-screen">
                    <div class="h-72 m-auto w-96 bg-gray-200">
                        <div class="w-full h-full text-white flex justify-center items-center text-3xl">Ads</div>
                    </div>
                </section>
                <!-- ＯＯ企業有限公司 -->
                <section ref="company_menu" class="pt-14">
                    <div class="flex justify-between md:justify-start md:gap-6">
                        <div class="w-28 h-28 md:w-40 md:h-40">
                            <img class="w-full h-full object-center object-cover" src="img/1.jpeg" alt="">
                        </div>
                        <div class="w-64 md:w-72 lg:w-96 flex flex-col justify-between md:justify-around">
                            <h1 class="text-2xl text-main font-bold">ＯＯ企業有限公司</h1>
                            <div class="text-gray-400 pb-3.5 md:pb-0">企業英文名 / 其他相關簡要之附註資訊...</div>
                            <ul class="bg-white md:flex hidden mt-7 w-full justify-between">
                                <li class="cursor-pointer w-1/4 text-center text-gray-600 py-2.5"
                                    :class="{'md:border-b-4 border-b-2 border-sec':company_menu_current=='公司簡介'}">
                                    <div v-on:click="scroll2View('公司簡介')">公司簡介</div>
                                </li>
                                <li class="cursor-pointer w-1/4 text-center text-gray-600 py-2.5"
                                    :class="{'md:border-b-4 border-b-2 border-sec':company_menu_current=='基本資訊'}">
                                    <div v-on:click="scroll2View('基本資訊')">基本資訊</div>
                                </li>
                                <li class="cursor-pointer w-1/4 text-center text-gray-600 py-2.5"
                                    :class="{'md:border-b-4 border-b-2 border-sec':company_menu_current=='企業特色'}">
                                    <div v-on:click="scroll2View('企業特色')">企業特色</div>
                                </li>
                                <li class="cursor-pointer w-1/4 text-center text-gray-600 py-2.5"
                                    :class="{'md:border-b-4 border-b-2 border-sec':company_menu_current=='地圖導覽'}">
                                    <div v-on:click="scroll2View('地圖導覽')">地圖導覽</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="bg-white flex md:hidden mt-7 w-full justify-between">
                        <li class="cursor-pointer w-1/4 text-center text-gray-600 py-2.5"
                            :class="{'border-b-2 border-sec':company_menu_current=='公司簡介'}">
                            <div v-on:click="scroll2View('公司簡介', true)">公司簡介</div>
                        </li>
                        <li class="cursor-pointer w-1/4 text-center text-gray-600 py-2.5"
                            :class="{'border-b-2 border-sec':company_menu_current=='基本資訊'}">
                            <div v-on:click="scroll2View('基本資訊', true)">基本資訊</div>
                        </li>
                        <li class="cursor-pointer w-1/4 text-center text-gray-600 py-2.5"
                            :class="{'border-b-2 border-sec':company_menu_current=='企業特色'}">
                            <div v-on:click="scroll2View('企業特色', true)">企業特色</div>
                        </li>
                        <li class="cursor-pointer w-1/4 text-center text-gray-600 py-2.5"
                            :class="{'border-b-2 border-sec':company_menu_current=='地圖導覽'}">
                            <div v-on:click="scroll2View('地圖導覽', true)">地圖導覽</div>
                        </li>
                    </ul>
                </section>
                <!-- 公司簡介 -->
                <section ref="公司簡介" class="pt-10 md:pt-14">
                    <h2 class="mb-7 md:mb-9 pl-2 border-l-2 md:border-l-4 text-xl md:text-2xl font-bold">公司簡介</h2>
                    <p>
                        A paragraph is a series of sentences that are organized and coherent, and are all related to a
                        single topic. Almost every piece of writing you do that is longer than a few sentences should be
                        organized into paragraphs.
                    </p>
                </section>
                <!-- 基本資訊 -->
                <section ref="基本資訊" class="pt-10 md:pt-14">
                    <h2 class="mb-7 md:mb-9 pl-2 border-l-2 md:border-l-4 text-xl md:text-2xl font-bold">基本資訊</h2>

                    <div class="flex gap-5 mb-3.5">
                        <div class="w-16 whitespace-nowrap text-third">成立時間</div>
                        <div class="w-auto text-gray-400">2002 年</div>
                    </div>
                    <div class="flex gap-5 mb-3.5">
                        <div class="w-16 whitespace-nowrap text-third">產業類別</div>
                        <div class="w-auto text-gray-400">電子科技業</div>
                    </div>
                    <div class="flex gap-5 mb-3.5">
                        <div class="w-16 whitespace-nowrap text-third">服務項目</div>
                        <div class="w-auto text-gray-400">程式設計 、 晶片硬體設備</div>
                    </div>
                    <div class="flex gap-5 mb-3.5">
                        <div class="w-16 whitespace-nowrap text-third">人事聯絡</div>
                        <div class="w-auto text-gray-400">高先生</div>
                    </div>
                    <div class="flex gap-5 mb-3.5">
                        <div class="w-16 whitespace-nowrap text-third">聯絡電話</div>
                        <div class="w-auto text-blue-500"><a rel="nofollow" href="tel:0412345678">04-1234-5678</a></div>
                    </div>
                    <div class="flex gap-5 mb-3.5">
                        <div class="w-16 whitespace-nowrap text-third">聯絡地址</div>
                        <div class="w-auto text-gray-400">台中市西區台灣大道二段 OO 號 O 樓 A 室假設內容太長請自動換行之</div>
                    </div>
                    <div class="flex gap-5 mb-3.5">
                        <div class="w-16 whitespace-nowrap text-third">電子信箱</div>
                        <div class="w-auto text-blue-500"><a rel="nofollow"
                                href="mailto:techservice@company.com">techservice@company.com</a></div>
                    </div>
                    <div class="flex gap-5 mb-3.5">
                        <div class="w-16 whitespace-nowrap text-third">官方網址</div>
                        <div class="w-auto text-blue-500"><a rel="nofollow"
                                href="https://www.service.com.tw">www.service.com.tw</a></div>
                    </div>



                </section>
                <!-- 企業特色 -->
                <section ref="企業特色" class="pt-10 md:pt-14">
                    <h2 class="mb-7 md:mb-9 pl-2 border-l-2 md:border-l-4 text-xl md:text-2xl font-bold">企業特色</h2>
                    <div class="flex w-11/12 gap-4 flex-wrap">
                        <a href="#台中">
                            <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                台中
                            </div>
                        </a>
                        <a href="#電子業">
                            <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                電子業
                            </div>
                        </a>
                        <a href="#科技業">
                            <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                科技業
                            </div>
                        </a>
                        <a href="#在地商家">
                            <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                在地商家
                            </div>
                        </a>
                        <a href="#新創企業">
                            <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                新創企業
                            </div>
                        </a>
                    </div>
                </section>
                <!-- 地圖導覽 -->
                <section ref="地圖導覽" class="pt-10 pb-7 border-b md:pt-14 md:pb-20 md:border-b-2">
                    <h2 class="mb-7 md:mb-9 pl-2 border-l-2 md:border-l-4 text-xl md:text-2xl font-bold">地圖導覽</h2>
                    <div class="w-full h-64 md:h-80">
                        <iframe class="w-full h-full"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14460.031820041626!2d121.5645561!3d25.0338041!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xacc4d11dc963103c!2z5Y-w5YyXMTAx!5e0!3m2!1szh-TW!2stw!4v1638585072870!5m2!1szh-TW!2stw"
                            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                </section>
                <!-- 作者 -->
                <section class="pt-7 md:py-12 md:border-b-2">
                    <div class="flex gap-7">
                        <div class="w-20 h-20">
                            <img class="rounded-full w-full h-full object-center object-cover" src="img/1.jpeg" alt="">
                        </div>
                        <div class="pt-4 md:pt-2.5 text-gray-600">
                            <div class="text-sm ">編輯者</div>
                            <!-- 需要英文再開啟 -->
                            <h1 class="text-xl md:text-lg font-bold inline Mix-font">李克莉Eng</h1>
                        </div>
                    </div>
                    <p class="pt-7 pb-14 md:ml-20 md:pl-7 md:pb-0 md:pt-0 md:mt-0">
                        A paragraph is a series of sentences that are organized and coherent, and are all related to a
                        single topic. Almost every piece of writing you do that is longer than a few sentences should be
                        organized into paragraphs.
                    </p>
                </section>
                <!-- 手機 廣告 -->
                <section class="md:hidden py-14 bg-gray-50 -ml-10 w-screen">
                    <div style="height: 113vw;" class=" m-auto w-96 bg-gray-200 mb-7">
                        <div class="w-full h-full text-white flex justify-center items-center text-3xl">Ads</div>
                    </div>
                    <div class="h-36 m-auto w-96 bg-gray-200">
                        <div class="w-full h-full text-white flex justify-center items-center text-3xl">Ads</div>
                    </div>
                </section>
                <!-- 更多相關文章 ... -->
                <section class="py-7">
                    <div class="text-sm text-gray-400 mb-9">更多相關文章 ...</div>
                    <div class="flex flex-col md:flex-row md:gap-11 lg:gap-20 md:mb-7">
                        <div v-for="i in 2"
                            class="flex gap-5 md:gap-3 mb-7 md:mb-0 md:pb-4 md:flex-col md:w-80 md:hover:shadow-2xl hover:shadow">
                            <div class="w-36 h-24 md:w-full lg:h-60 md:h-36" style="min-width: 8.5rem;">
                                <img class="w-full h-full object-center object-cover" src="img/1.jpeg" alt="">
                            </div>
                            <div class="md:px-3 lg:px-6">
                                <h1 class="mb-3.5 text-main text-xl md:text-2xl font-medium">文章示範標題</h1>
                                <p>內文重點示範文字 ， 字數限制如敘述內可容納之...</p>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="w-full md:w-1/3 bg-gray-50  -ml-10 w-screen md:ml-0 md:w-auto px-12 md:px-4 lg:px-8">
                <!-- Latest Post -->
                <section class="pt-16 md:pt-20">
                    <h1 class="MW-font font-bold text-2xl md:text-xl">Latest Post</h1>
                    <div class="border-t border-gray-500 md:pt-5 mt-4 pt-7">
                        <ul class="flex flex-col gap-3 md:gap-4 text-third">
                            <li>
                                <a href="#文章示範標題" class="visited:text-gray-500 hover:text-sec">文章示範標題(一)</a>
                            </li>
                            <li>
                                <a href="#文章示範標題" class="visited:text-gray-500 hover:text-sec">文章示範標題(二)</a>
                            </li>
                            <li>
                                <a href="#文章示範標題" class="visited:text-gray-500 hover:text-sec">文章示範標題(三)</a>
                            </li>
                            <li>
                                <a href="#文章示範標題" class="visited:text-gray-500 hover:text-sec">文章示範標題(四)</a>
                            </li>
                            <li>
                                <a class="visited:text-gray-500 hover:text-sec">文章示範標題(五)</a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- 電腦 廣告 -->
                <section class="hidden md:block ">
                    <div class="pt-6 w-full h-52">
                        <div class=" bg-gray-200 w-full h-full text-white flex justify-center items-center text-3xl">Ads
                        </div>
                    </div>
                    <div class="pt-6 w-full" style="height: 31.25vw;">
                        <div class="bg-gray-200 w-full h-full text-white flex justify-center items-center text-3xl">Ads
                        </div>
                    </div>
                </section>

                <!-- Tags -->
                <section class="pt-14 md:pt-6">
                    <h1 class="MW-font font-bold text-2xl md:text-xl">Tags</h1>
                    <div class="border-t border-gray-500 md:pt-5 mt-4 pt-7">
                        <div class="flex w-full gap-4 flex-wrap">
                            <a href="#台中">
                                <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                    台中
                                </div>
                            </a>
                            <a href="#台北">
                                <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                    台北
                                </div>
                            </a>
                            <a href="#電子業">
                                <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                    電子業
                                </div>
                            </a>
                            <a href="#科技業">
                                <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                    科技業
                                </div>
                            </a>
                            <a href="#在地商家">
                                <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                    在地商家
                                </div>
                            </a>
                            <a href="#新創企業">
                                <div class="py-1 px-3.5 bg-gray-100 rounded-2xl hover:bg-sec hover:text-white">
                                    新創企業
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <!-- 電腦 廣告 -->
                <section class="hidden md:block ">
                    <div class="pt-6 w-full h-60">
                        <div class=" bg-gray-200 w-full h-full text-white flex justify-center items-center text-3xl">Ads
                        </div>
                    </div>
                    <div class="pt-6 w-full h-28">
                        <div class="bg-gray-200 w-full h-full text-white flex justify-center items-center text-3xl">Ads
                        </div>
                    </div>
                </section>

                <!-- 手機 廣告 -->
                <section class="md:hidden pt-14 bg-gray-50 -ml-10 w-screen">
                    <div class="h-72 m-auto w-96 bg-gray-200 ">
                        <div class="w-full h-full text-white flex justify-center items-center text-3xl">Ads</div>
                    </div>

                </section>
                <!-- Links -->
                <section class="pt-16 md:pt-6">
                    <h1 class="MW-font font-bold text-2xl md:text-xl">Links</h1>
                    <div class="border-t border-gray-500 md:pt-5 mt-4 pt-7">
                        <ul class="flex flex-col gap-3 md:gap-4 text-third">
                            <li>
                                <a href="#友站連結" class="visited:text-gray-500 hover:text-sec">友站連結</a>
                            </li>
                            <li>
                                <a href="#友站連結" class="visited:text-gray-500 hover:text-sec">友站連結</a>
                            </li>
                            <li>
                                <a href="#友站連結" class="visited:text-gray-500 hover:text-sec">友站連結</a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- 電腦 450X300 廣告 -->
                <section class="hidden md:block ">
                    <div class="pt-6 w-full h-44">
                        <div class=" bg-gray-200 w-full h-full text-white flex justify-center items-center text-3xl">Ads
                        </div>
                    </div>

                </section>
                <!-- 累計瀏覽人次 -->
                <section>
                    <div class="flex mt-8 pb-16 ">
                        <div class="flex whitespace-nowrap md:text-xs lg:text-base">累計瀏覽人次
                            <div class="text-sec ml-14 lg:ml-6 md:ml-3 mr-3 font-bold">199268</div> 次
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- 頁尾 -->
        <footer class="px-10 py-14 bg-third text-white lg:px-60 md:px-32">
            <div class="flex ">
                <div class="flex flex-col md:flex-row gap-10 md:w-3/4">
                    <div class="md:w-1/3">
                        <!-- <h1 class="text-2xl MW-font font-bold ">Fabula</h1> -->
                        <div><img src="/Asset/icon/Logo-w.png" alt=""
                                class="w-24 h-12 object-center object-contain md:w-28 md:h-14"></div>
                        <span class="hidden md:block mt-1.5 text-gray-400 text-xs">
                            Copyright © 2021 Fabula.<br>
                            All rights reserved.
                        </span>
                    </div>
                    <div class="md:w-1/3">
                        <h2 class="text-lg MW-font font-bold "><span>Contact</span></h2>
                        <div class="mt-3 md:mt-4 text-sm">
                            <span>OOOOOO有限公司</span><br>
                            <a href="tel:0412345678">+886 1234 5678</a><br>
                            <a href="mailto:service@company.com">service@company.com</a>

                        </div>
                    </div>
                    <div class="md:w-1/3">
                        <h2 class="text-lg MW-font font-bold">Terms</h2>
                        <div class="mt-3 md:mt-4 text-sm">
                            <a href="#隱私權政策">隱私權政策</a><br>
                            <a href="#注意事項">注意事項</a>

                        </div>
                    </div>
                </div>
                <div class="w-full py-14pl-14 flex flex-col justify-between md:w-1/4 md:justify-start">
                    <transition name="custom-classes-transition" enter-active-class="animate__fadeInUp"
                        leave-active-class="animate__fadeOutDown">
                        <div v-if="scroll_top_offset" v-on:click="toTop()" ref="scroll-top-button"
                            class="animate__animated cursor-pointer fixed md:fixed ml-auto right-10 bottom-10 bg-third shadow w-12 h-12 px-2  rounded-xl">
                            <svg class="w-full h-full" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7">
                                </path>
                            </svg>
                        </div>
                    </transition>


                    <div></div>
                    <div class="ml-auto md:ml-5 lg:ml-0">

                        <h2 class="text-lg MW-font font-bold ">Media</h2>
                        <div class="mt-2.5 md:mt-4 flex gap-3.5">
                            <a href="#Facebook">
                                <svg class="w-9 h-9 md:w-8 md:h-8 fill-current text-white hover:text-sec" version="1.1"
                                    id="圖層_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                                    style="enable-background:new 0 0 40 40;" xml:space="preserve">

                                    <path class="st0"
                                        d="M20,0C9,0,0,9,0,20c0,10,7.3,18.3,16.9,19.8v-14h-5.1V20h5.1v-4.4c0-5,3-7.8,7.6-7.8c2.2,0,4.5,0.4,4.5,0.4v4.9
                               h-2.5c-2.5,0-3.3,1.5-3.3,3.1V20h5.5l-0.9,5.8h-4.7v14C32.7,38.3,40,30,40,20C40,9,31,0,20,0z" />
                                </svg>
                            </a>
                            <a href="#Instagram">
                                <svg class="w-9 h-9 md:w-8 md:h-8 fill-current text-white hover:text-sec" version="1.1"
                                    id="圖層_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                                    style="enable-background:new 0 0 40 40;" xml:space="preserve">

                                    <g>
                                        <circle class="st0" cx="20" cy="20" r="4.2" />
                                        <path class="st0"
                                            d="M29.8,12.6c-0.2-0.6-0.5-1-0.9-1.4c-0.4-0.4-0.9-0.7-1.4-0.9C27,10,26.3,9.8,25.1,9.8
                                   c-1.3-0.1-1.7-0.1-5.1-0.1s-3.8,0-5.1,0.1c-1.2,0.1-1.9,0.3-2.3,0.4c-0.6,0.2-1,0.5-1.4,0.9c-0.4,0.4-0.7,0.9-0.9,1.4
                                   C10,13,9.8,13.7,9.7,14.9c-0.1,1.3-0.1,1.7-0.1,5.1s0,3.8,0.1,5.1c0.1,1.2,0.3,1.9,0.4,2.3c0.2,0.6,0.5,1,0.9,1.4
                                   c0.4,0.4,0.9,0.7,1.4,0.9c0.4,0.2,1.1,0.4,2.3,0.4c1.3,0.1,1.7,0.1,5.1,0.1s3.8,0,5.1-0.1c1.2-0.1,1.9-0.3,2.3-0.4
                                   c0.6-0.2,1-0.5,1.4-0.9c0.4-0.4,0.7-0.9,0.9-1.4c0.2-0.4,0.4-1.1,0.4-2.3c0.1-1.3,0.1-1.7,0.1-5.1s0-3.8-0.1-5.1
                                   C30.2,13.7,30,13,29.8,12.6z M20,26.5c-3.6,0-6.5-2.9-6.5-6.5s2.9-6.5,6.5-6.5s6.5,2.9,6.5,6.5S23.6,26.5,20,26.5z M26.7,14.8
                                   c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5C28.2,14.1,27.6,14.8,26.7,14.8z" />
                                        <path class="st0" d="M20,0C9,0,0,9,0,20s9,20,20,20s20-9,20-20S31,0,20,0z M32.5,25.2c-0.1,1.3-0.3,2.3-0.6,3.1
                                   c-0.3,0.8-0.8,1.5-1.5,2.2c-0.7,0.7-1.4,1.1-2.2,1.5c-0.8,0.3-1.7,0.5-3.1,0.6c-1.3,0.1-1.8,0.1-5.2,0.1s-3.8,0-5.2-0.1
                                   c-1.3-0.1-2.3-0.3-3.1-0.6c-0.8-0.3-1.5-0.8-2.2-1.5c-0.7-0.7-1.1-1.4-1.5-2.2c-0.3-0.8-0.5-1.7-0.6-3.1c-0.1-1.3-0.1-1.8-0.1-5.2
                                   s0-3.8,0.1-5.2c0.1-1.3,0.3-2.3,0.6-3.1c0.3-0.8,0.8-1.5,1.5-2.2c0.7-0.7,1.4-1.1,2.2-1.5c0.8-0.3,1.7-0.5,3.1-0.6
                                   c1.3-0.1,1.8-0.1,5.2-0.1s3.8,0,5.2,0.1c1.3,0.1,2.3,0.3,3.1,0.6c0.8,0.3,1.5,0.8,2.2,1.5c0.7,0.7,1.1,1.4,1.5,2.2
                                   c0.3,0.8,0.5,1.7,0.6,3.1c0.1,1.3,0.1,1.8,0.1,5.2S32.6,23.8,32.5,25.2z" />
                                    </g>
                                </svg>



                            </a>
                            <a href="#Youtube">
                                <svg class="w-9 h-9 md:w-8 md:h-8 fill-current text-white hover:text-sec " version="1.1"
                                    id="圖層_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                                    style="enable-background:new 0 0 40 40;" xml:space="preserve">

                                    <g>
                                        <polygon class="st0" points="17.3,24 24.3,20 17.3,16 	" />
                                        <path class="st0" d="M20,0C9,0,0,9,0,20c0,11,9,20,20,20c11,0,20-9,20-20C40,9,31,0,20,0z M32.8,26.4c-0.3,1.1-1.2,2.1-2.4,2.4
		C28.3,29.3,20,29.3,20,29.3s-8.3,0-10.4-0.6c-1.1-0.3-2.1-1.2-2.4-2.4C6.7,24.3,6.7,20,6.7,20s0-4.3,0.6-6.4
		c0.3-1.1,1.2-2.1,2.4-2.4c2.1-0.6,10.4-0.6,10.4-0.6s8.3,0,10.4,0.6c1.1,0.3,2.1,1.2,2.4,2.4c0.6,2.1,0.6,6.4,0.6,6.4
		S33.3,24.3,32.8,26.4z" />
                                        <path class="st0" d="M17.3,24v-8l6.9,4L17.3,24z" />
                                    </g>
                                </svg>

                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="md:hidden mt-9 text-gray-400 text-xs">
                Copyright © 2021 Fabula. All rights reserved.
            </div>
        </footer>
    </div>
    <script src="js/case.js?v=202112061100"></script>
</body>

</html>